<section class="home">
  <h1>Noção de Nada Cover</h1>

  <ul>
    <li><a href="<%= asset_path('ar.mp3')%>">Ar</a></li>
    <li><a href="<%= asset_path('battlefield.mp3')%>">Battlefield</a></li>
    <li><a href="<%= asset_path('depois_da_enchente.mp3')%>">Depois da Enchente</a></li>
    <li><a href="<%= asset_path('dezesseis.mp3')%>">Dezesseis</a></li>
    <li><a href="<%= asset_path('em_construcao.mp3')%>">Em Construcao</a></li>
    <li><a href="<%= asset_path('polvora.mp3')%>">Pólvora</a></li>
    <li><a href="<%= asset_path('Momentum.mp3')%>">Momentum</a></li>
  </ul>

</section>

<%= require_module %>
